@menu-bgcolor: @header-bg-color;
@menu-ul-bgcolor : #383b43;

/****************************************************************
* Side pull out menu
****************************************************************/
.tabmenu ul {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  //max-width: 500px;
  background: transparent;
}

.tabmenu li a {
    background-color: transparent !important;
}

.slideMenu_Title {
  color: @block-path-color-1;
  font-weight: bold;
}

.menu-wrap {
  a {
    color: @block-path-color-2;
    &:hover {
      color: @block-path-color-3;
    }
    &:focus {
      color: @block-path-color-3;
    }
  }
  box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: #fefefe;
  z-index: 1001;
  width: 200px;
  height: ~"calc(100% - 62px - 2em)";
  padding: 2em 0em 0px 0;
  margin: 62px 0px 0px 0px;
  font-size: 2em;
  -webkit-transform: translate3d(-320px, 0, 0);
  transform: translate3d(-320px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

#menuDivId{
	overflow-y: auto;
}
.menu-button {
  position: relative;
  //z-index: 1000;
  margin: 14px 0 7px 0.5vw;
  padding: 0;
  width: 2.5em;
  height: 2.25em;
  border: none;
  text-indent: 2.5em;
  font-size: 18px;
  color: @block-path-color-transparent;
  background: transparent;
  &::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
    content: '';
  }
  &:hover {
    opacity: 0.6;
  }
}

.close-button {
  //used for side menu and notifications
  width: 1.8em;
  height: 1.8em;
  position: fixed;
  right: 2px;
  top: 7px;
  overflow: hidden;
  text-indent: 1em;
  font-size: 0.75em;
  border: none;
  background: transparent;
  color: @block-path-color-transparent;
  &::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #bdc3c7;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #bdc3c7;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.menu {
  height: 100%;
  overflow: hidden;
}

.icon-list {
  height: 100%;
  /*
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0s 0.4s;
  transition: transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  */
  a {
    display: block;
    padding: 0.8em;
    span {
      margin-left: 10px;
      font-weight: 700;
    }
  }
}

.show-menu {
  .menu-wrap {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }
  /*
  .icon-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    a {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform 0.8s;
      transition: transform 0.8s;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -webkit-transition-duration: 0.9s;
      transition-duration: 0.9s;
    }
  }
  .content {
    &::before {
      opacity: 1;
      -webkit-transition: opacity 0.8s;
      transition: opacity 0.8s;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  */
}




div.pages-side-menu-wrap {
    box-shadow: 10px 10px 5px #888888;
    font-size: 14px;
    .icon-list{
        margin: 0px;
        padding: 0px;
        text-decoration: none;
    }
    .slideMenu_Title {
        background-color: #fefefe;
        line-height: 35px;
        display: block;
        color: green;
        padding-left: 5px;
        &:after {
            content: "\f078";
            font-family: @awesome-font-family;
            font-weight: normal;
            padding-left: 5px;
        }
        a {
            background: darken(@menu-bgcolor, 70%);
            display: block;
            margin: 0px;
            line-height: 35px;
            text-decoration: none;
            color: @menu-bgcolor;
            padding-left: 5px;
        }
    }
    ul {
        background-color: #fefefe;
        margin: 0px;
        padding-bottom: 2px;
        color: @menu-ul-bgcolor;
        width: 100%;
        li {
            //border-bottom: 1px solid #5c8a8a;
            display: block;
            line-height: 30px;
            text-decoration: none;
            text-transform: capitalize;
            color: @menu-ul-bgcolor;
            a {
                color: @menu-ul-bgcolor;
                text-decoration: none;
                font-size: 1em;
		line-height: 1.9em;
                &:before {
                    text-decoration: none !important;
                    padding-left: 5px;
                    color: @menu-ul-bgcolor;
                    content: "\f069";
                    font-family: @awesome-font-family;
                    font-weight: normal;
                    font-size: x-small;
                    padding-right: 15px;
                }
            }
            &:hover {
                background-color: #f2f2f2;
            }
        }
        li.selected {
            background-color: darken(@menu-bgcolor, 5%);
            a {
                color: @menu-ul-bgcolor;
            }
        }
    }
}
