@menu-bgcolor: @header-bg-color;
@menu-ul-bgcolor : #383b43;

/****************************************************************
* Side pull out menu
****************************************************************/
.tabmenu ul {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  background: transparent;
}

.menu-button {
  position: relative;
  margin: 14px 0 7px 0.5vw;
  padding: 0;
  width: 39.6px;
  height: 36px;
  border: none;
  text-indent: 2.5em;
  font-size: 18px;
  color: @block-path-color-transparent;
  background: transparent;
  &::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#7e839a 20%,transparent 20%,transparent 40%,#7e839a 40%,#7e839a 60%,transparent 60%,transparent 80%,#7e839a 80%);
    content: '';
  }
  &:hover {
    opacity: 0.6;
  }
}

.close-button {
  //used for side menu and more
  width: 1.8em;
  height: 1.8em;
  position: absolute;
  right: 4px;
  top: 4px;
  overflow: hidden;
  text-indent: 1em;
  font-size: 0.75em;
  border: none;
  background: transparent;
  color: @block-path-color-transparent;
  &::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #5e6d77;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #5e6d77;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

/*  http://msroot.github.io/Notify.js/  */
.notifyClose{
    padding: 0px 2px 2px 3px;
    margin-left: 5px;
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    transition: background 0.4s;
}
.notifyClose:hover{
    background: #eed65d;
}
#notifications {
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 9999;
    bottom: 0px;
    margin-bottom: 22px;
    margin-right: 15px;
    max-width: 300px;
    font-size: 15px;
    .alert{
        padding-right: 15px !important;
    }
}


#menuAndHeaderImg{
    margin-top: 12px;
}


.menu-wrap {
  box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.1);
  position: fixed;
  background-color: #fefefe;
  z-index: 1001;
  width: 61px;
  height: ~"calc(100% - 62px)";
  margin: 58px 0px 0px 0px;
  font-size: 2em;
}

#sidemenu-closesvg{
    display: none;
}

.show-menu {
    .menu-wrap {
        width: 153px;
        overflow: visible;
        .mdl-tooltip{
            display:none; //shouldn't need tooltips when the menu is open.
        }
    }
    .sidemenu-text{
        display: inline-block;
    }
    
    #sidemenu-opensvg{
        display: none;
    }
    #sidemenu-closesvg{
        display: inline;
    }
    #extra_html{
        margin-left: 158px;
    }
}

#extra_html{
    margin-left: 63px;
}

#sidemenu-wrap {
    border-right: 1px solid lightgray;
    font-size: 14px;
}

#sidemenu{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidemenu-cell{
    display: flex;
    height: 57px;
    //width: 147px;
    cursor: pointer;
    /*a{
        display: block;
        width: 100%;
    }*/
}

.sidemenu-svg{
    margin: 1px 15px 0;
    width: 28px;
    height: 56px;
    vertical-align: middle;
}

.sidemenu-text{
    display: none;
    font-size: 13px;
    line-height: 57px;
    color: rgb(17, 17, 17);
}

.sidemenu-cell:hover, .sidemenu-cell.selected{
    background: wheat;
    .sidemenu-svg{
        fill: rgb(17, 41, 17);
    }
    .sidemenu-text{
        color: rgb(17, 41, 17);
    }
}

.sidemenu-cell:hover{
    background: wheat;
}

.sidemenu-sep{
    width: 100%
    height: 1px;
    background: black;
}

.sidemenu-childmenu{
    max-height: 80vh;
    overflow-y: auto;
}

.sidemenu_title{
    line-height: 1.428571429;
    color: white;
    white-space: nowrap;
    padding: 5px 20px;
    display: block;
    background: #5483e1;
    cursor: default;
    text-align: center;
    border-bottom: 2px solid #3d3d89;
}


#sidemenu-closesvg{
    margin-left: auto;
}

#sidemenu-home{
    display: none; //shown on small screen only.
}
.sidemenu-separator{
    display: none; //shown on small screen only. //if you use more than one separator, need to improve this.
}
#sidemenu-pages{
    display: none; //not ready for prime time yet.
    text-transform: capitalize; //keep all page names capitalized.
}

.sidemenu-separator{
    height: 20px;
    min-height: 1px;
    border-top: 1px solid #cfcfcf;
}

/* If you want the line in the 50% middle...
.sidemenu-separator::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #cfcfcf;
}
*/

#sidemenu .dropdown-menu{
    right: unset;
    left: 100%;
    top: unset;
}

#appSettings{
    //position: relative; //cant be relative so that the submenu can attach to a higher element to allow for overflow...
    margin-top: auto;
    .dropdown-submenu .dropdown-menu{
        right: unset;
        left: 100%;
        bottom: 0;
        top: unset;
    }
}

#currencySelectorMenu{
    width: 280px; //allow room for conversion data to show up when we receive it.
    max-height: 74vh;
    overflow: auto;
    a{
        display: flex;
    }
}

.dropdown-smalltxt{
    font-size: 11px;
    line-height: 20px;
    margin-left: auto;
}

.walletsDropDown{
    a{
        display: flex !important;
        padding: 6px 20px !important;
    }
    .svg-text{
        display: inline-flex;
        flex-grow: 1;
    }
}


#open-button{
    display: none;
}
#bp-topbar-mobile{
    display: none;
}

#bp-topbar-desktop{
    line-height: 58px;
}

.bp-topbar-desktop-search{
    padding: 6px 13px 2px 9px;
    font-size: 15px;
    height: 21px;
    border: 1px solid #e7e7e7;
    border-radius: 3px 0 0 3px;
    width: 29vw;
    max-width: 650px;
    margin-left: 48px;
    vertical-align: middle;
}

#loggedOutUserBigScreen{
    position: relative;
    line-height: 49px;
    .searchBarForm{
        position: absolute;
    }
}

//Mobile Device Size
@media screen and (max-width: 830px) {
    #open-button{
        display: inline !important;
    }
    .menu-wrap{
        width: 0;
        overflow: hidden;
    }
    #bp-topbar-mobile{
        display: inline !important;
    }
    #bp-topbar-desktop{
        display: none;
    }
    #menuAndHeaderImg{
        margin-top: 0px !important;
    }
    #extra_html{
        margin-left: 0 !important;
    }
    .dropdown-submenu .dropdown-menu{
        left: 27px !important;
    }
    .dropdown-submenu .dropdown-menu.popup{
        bottom: 24px !important;
    }
    #sidemenu .dropdown-menu{
        left: 13% !important;
    }
    #sidemenu-home{
        display: block !important;
    }
    .sidemenu-separator{
        display: block !important;
    }

}

@media screen and (min-width: 830px){
    .listing-page #sidemenu-wrap{
        display:none; //for now we don't need a sidebar on the homepage on large screen
    }
}













