<%!
   from pylons import app_globals as g
%>

<div id="herobox">

    <figure id="heroboxBack">
        <video autoplay="" loop="" poster="https://blockpathstatic.website/images/BlockpathHeroVideo1Poster.jpg">
            <source src=${'https://blockpathstatic.website/images/BlockpathHeroVideo1.webm type=video/webm' if not thing.isMobile else ''}>
        </video>
    </figure>
    
    <div id="heroboxFront">
        <div id="heroboxHeaderText">
            <a style="color:white;" href="${g.https_endpoint}/accounting">Bitcoin Accounting Simplified </a>
        </div>
        <div id="heroboxMainText">
            <h2 id="heroboxTitle" class="hideonsmallscreen"> Integrations and tools that automate your work </h2>
            <div id="heroboxApps" class="mdl-grid">
                <a href="${g.https_endpoint}/apps/qb/features" class="mdl-cell mdl-cell--2-col mdl-shadow--2dp">
                    <div><img src="https://blockpathstatic.website/QB_IntuitLogo_Vert.png" class="heroboxappfullicon"></div>
                </a>
                <a class="mdl-cell mdl-cell--2-col mdl-shadow--2dp" href="${g.https_endpoint}/taxprep">
                    <div><svg class="heroboxappicon" viewBox="0 0 24 24">
                        <use xlink:href="#taxBuildingSVG"></use>
                    </svg></div>
                    <div class="int-smalltitle">Tax Prep</div>
                </a>
                <a href="${g.https_endpoint}/accounting" class="mdl-cell mdl-cell--2-col mdl-shadow--2dp">
                    <div><svg class="heroboxappicon" viewBox="0 0 24 24">
                        <path fill="#085391" d="M18 11c2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5 2.243-5 5-5zm0-1c-3.313 0-6 2.687-6 6s2.687 6 6 6 6-2.687 6-6-2.687-6-6-6zm.5 8.474v.526h-.5v-.499c-.518-.009-1.053-.132-1.5-.363l.228-.822c.478.186 1.114.383 1.612.27.574-.13.692-.721.057-1.005-.465-.217-1.889-.402-1.889-1.622 0-.681.52-1.292 1.492-1.425v-.534h.5v.509c.362.01.768.073 1.221.21l-.181.824c-.384-.135-.808-.257-1.222-.232-.744.043-.81.688-.29.958.856.402 1.972.7 1.972 1.773.001.858-.672 1.315-1.5 1.432zm-7.911-5.474h-2.589v-2h3.765c-.484.602-.881 1.274-1.176 2zm-.589 3h-2v-2h2.264c-.166.641-.264 1.309-.264 2zm2.727-6h-4.727v-2h7v.589c-.839.341-1.604.822-2.273 1.411zm2.273-6h-7v-2h7v2zm0 3h-7v-2h7v2zm-4.411 12h-2.589v-2h2.069c.088.698.264 1.369.52 2zm-10.589-11h7v2h-7v-2zm0 3h7v2h-7v-2zm12.727 11h-4.727v-2h3.082c.438.753.994 1.428 1.645 2zm-12.727-5h7v2h-7v-2zm0 3h7v2h-7v-2zm0-6h7v2h-7v-2z"/>
                    </svg></div>
                    <div class="int-smalltitle">Accounting Suite</div>
                </a>
                <a href="${g.https_endpoint}/wallets/new?action=xlsx" class="mdl-cell mdl-cell--2-col mdl-shadow--2dp hideonsmallscreen" attr-int="xlsx">
                    <div><img class="heroboxappicon" src="https://blockpathstatic.website/excelicon.png"></div>
                    <div class="int-smalltitle">Excel</div>
                </a>
                <a href="${g.https_endpoint}/search/addr?q=1LTvYhbpur5nZMe3hifMGgq28MMBzRgNdC&action=graph" class="mdl-cell mdl-cell--2-col mdl-shadow--2dp" attr-int="xlsx">
                    <div><svg class="heroboxappicon" height="28" width="28" viewBox="4 -1 53 31">
                        <line stroke="black" y2="19" x2="38" y1="8" x1="10.5"></line>
                        <line stroke="black" y2="19" x2="38" y1="6" x1="51.5"></line>
                        <line stroke="black" y2="19" x2="38" y1="22.5" x1="17.5"></line>
                        <circle style="fill: #085391;" r="10" cy="19" cx="38"></circle>
                        <circle style="fill: #085391;" r="5" cy="12" cx="12" transform="translate(-1.5, -4)"></circle>
                        <circle style="fill: #085391;" r="5" cy="5" cx="50" transform="translate(1.5, 1)"></circle>
                        <circle style="fill: #085391; opacity: 1;" r="5" cy="20" cx="30" transform="translate(-12.5, 2.5)"></circle>
                    </svg></div>
                    <div class="int-smalltitle">Graphical Explorer</div>
                </a>
                <a id="herobox-more" class="hideonsmallscreen" href="${g.https_endpoint}/wallets/new?action=app">
                    <svg width="24" height="24" viewBox="0 0 24 24" style="fill: white;padding: 15px 0 5px 0px;">
                        <use xlink:href="#plusSVG"></use>
                    </svg>
                    <br>
                    More
                </a>
            </div>
            <form action="/search/addr" role="search" class="" onsubmit=" return validateSearchText('heroboxSearch', 1);" style="margin-top: 14px;">
                <div>
                    <input id="heroboxSearch" name="q" placeholder="Search the Blockchain" type="text">
                    <br>
                    <div id="heroboxExamples" style="padding-bottom:7px; font-size:13px; color: white; font-weight:800;"> Examples: 
                        <a style="color: #337ab7;" href="${g.https_endpoint}/search/addr?q=1LTvYhbpur5nZMe3hifMGgq28MMBzRgNdC"> Address</a>  --  
                        <a style="color: #337ab7;" href="${g.https_endpoint}/search/xpub?q=xpub661MyMwAqRbcFtXgS5sYJABqqG9YLmC4Q1Rdap9gSE8NqtwybGhePY2gZ29ESFjqJoCu1Rupje8YtGqsefD265TMg7usUDFdp6W1EGMcet8"> xPub</a>  --  
                        <a style="color: #337ab7;" href="${g.https_endpoint}/search/xpub?q=ypub6XiW9nhToS1gjVsFKzgmtWZuqo6V1YY7xaCns37aR3oYhFyAsTehAqV1iW2UCNtgWFQFkz3aNSZZbkfe5d1tD8MzjZuFJQn2XnczsxtjoXr"> yPub</a>  --  
                        <a style="color: #337ab7;" href="${g.https_endpoint}/search/tx?q=b9691c0089d447c58837087583bfa7fa71df726da1a5f216cedb13d0d9c5eb4d"> Transaction</a>
                    </div>
                </div>
                <button style="width:155px; height: 42px; margin-left: 7px; margin-bottom: 10px; font-size: 21px; vertical-align:top;" class="btn btn-primary"> Explore </button>
            </form>
        </div>
        <div id="heroboxBottomText" onclick="herobox_scrolltocontent();" style="width: 300px; cursor: pointer;margin-left: auto;margin-right: auto;">
            See what others are finding
            <div>
                <svg width="24" height="24" viewBox="0 0 24 24">
                    <g transform="rotate(90,12,12)">
                        <path fill="white" d="M6.028 0v6.425l5.549 5.575-5.549 5.575v6.425l11.944-12z"></path>
                    </g>
                </svg>
            </div>
            <script>
                function herobox_scrolltocontent(){
                    window.scrollTo(0, document.getElementById('herobox').clientHeight - 70);
                }
            </script>
        </div>
    </div>

</div>

<div style="width: 70%;height: 50px;margin: auto; display:none;">
    <div style="font-size: 26px;text-align: center;margin-top: 10px;"> Top Posts </div>
    <hr class="linkButtonsHR" style="height: 5px;">
</div>