## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
###############################################################################
<%!
from r2.lib.template_helpers import static
%>
<div class="privacySection">
	<div style="font-size:25px; font-weight:700;">Blockpath Privacy Policy: </div>
	<div style="font-size: 20px;">Effective:  September 25, 2016</div>
	
</div>
<div class="privacySection">
	This privacy policy discloses the privacy practices for Blockpath ("Blockpath, "we" or "us").
	It will notify you of how Blockpath collects, uses, and shares information about you when you access and use Blockpath's websites and other online services and products (collectively, the "Services") or when you otherwise interact with us. 
	This privacy policy applies to all of our Services, unless we provide different notices about our privacy practices.
</div>
<div class="privacySection">
	<h2> Information We Collect </h2>
		<h3> Information You Provide to Us </h3>
		<div>
			We collect information you provide directly to us when you use our Services. 
			Depending on which Service you use, we may collect different information about you. This includes:
		</div>
		<div class="privacyBullet">
			<h3> Information Regarding Your Use of the Services </h3>
			We collect the content and other information you provide when you use our Services. 
			This includes information used to create your account (e.g., a username, password and at your option, an email address), account preferences, the content of private messages between you and other users or communities (e.g., modmail), 
			and the content of information you post to the Services (e.g., text, photos, videos, links, or any information concerning a cryptocurrency blockchain (e.g., transactions, addresses, blocks)). 
		</div>
		<div class="privacyBullet">
			<h3> Transactional Information</h3>
			If you purchase services or products from us, we will collect certain information from you, including your email address and information about the product or service you are purchasing. 
			Payments are processed by third-party payment processors (e.g., Coinbase and BitPay), so please refer to the applicable processor's terms and privacy policy for more information about how payment information is processed and stored.
		</div>
		<div class="privacyBullet">
			<h3> Other Information</h3>
			You may choose to provide other information directly to us. For example, we may collect information when you fill out a form, apply for a job, communicate with us via third-party sites and services, request customer support or otherwise communicate with us.
		</div>
		
		<h3> Information We Collect Automatically </h3>
		When you access or use our Services, we may also automatically collect information about you. This includes:
		<div class="privacyBullet">
			<h3> Log and Usage Data</h3>
			We may log information when you access and use the Services. 
			This may include your IP address, user-agent string, browser type, operating system, referral URLs, device information (e.g., device IDs), pages visited, 
			links clicked, user interactions (e.g., voting data, blockchain transaction and address tags), the requested URL, hardware settings, search terms, and requested blockchain data. 
			Except for the IP address used to create your account, Blockpath will delete any IP addresses collected after 100 days.
		</div>
		<div class="privacyBullet">
			<h3>Information Collected from Cookies</h3>
			We may receive information from cookies, which are pieces of data your browser stores and sends back to us when making requests. 
			We use this information to improve your experience, understand user activity, and improve the quality of our Services. For example, we may store and retrieve information about your preferred language and other settings. 
			For more information on how you can disable cookies, please see "Your Choices" below.
		</div>
		<div class="privacyBullet">
			<h3>Location Information</h3>
			With your consent, we may collect information about the specific location of your mobile device (for example, by using GPS or Bluetooth). 
			You can revoke this consent at any time by changing the preferences on your device, but doing so may affect your ability to use all of the features and functionality of our Services.
		</div>
		<div class="privacyBullet">
			<h3>Social Sharing</h3>
			We may offer features or integrated tools that let you share content or actions you take on our Services with other media. 
			Your use of these features enables the sharing of certain information with your friends or the public, depending on the settings you establish with the third party that provides the social sharing feature. 
			For more information of the scope and purpose of data collection and processing in connection with social sharing features, please visit the privacy policies of the third parties that provide these social sharing features (e.g., Tumblr, Facebook, Pinterest, and Twitter).
		</div>
</div>
<div class="privacySection">
	<h2> How We Use Information About You </h2>
		<div class="privacyBullet">
			We use information about you to:
			<ul>
				<li>Provide, improve, and maintain the Services;</li>
				<li>Help protect the safety of Blockpath and our users, which includes blocking suspected spammers, addressing abuse, and enforcing the Blockpath user agreement and Terms of Service;</li>
				<li>Send you technical notices, updates, security alerts, invoices and other support and administrative messages; </li>
				<li>Provide customer service; </li>
				<li>Communicate with you about products, services, offers, promotions, and events, and provide other news and information we think will be of interest to you (for information about how to opt out of these communications, see "Your Choices" below); </li>
				<li>Monitor and analyze trends, usage, and activities in connection with our Services; and </li>
				<li>Personalize the Services and provide advertisements, content and features that match user profiles or interests.</li>
			</ul>
		</div>
</div>
<div class="privacySection">
	<h2> How We Share Information </h2>
		<div class="privacyBullet">
			When you use the Services, certain information may be shared with other users and the public. For example:
			<ul>
				<li>When you submit a post, a comment, or cryptocurrency data to the Services, visitors to and users of our Services will be able to see the content of your posts and comments and cryptocurrency data, 
				the username associated with your posts or comments or cryptocurrency data, 
				and the date and time you originally submitted the post or comment or cryptocurrency data. 
				Although some parts of the Services may be private or quarantined, they may become public (e.g., at the moderator's option in the case of private communities) and 
				you should take that into consideration before posting to the Services. </li>
				
				<li>When you send private messages or messages via modmail, the recipients of those messages will be able to see the content of your message, your username, and the date and time the message was sent. 
				Moderators may elect to have modmail forwarded to their email accounts and, as a result, any modmail received by these moderators will be subject to the terms and policies of the moderator's email provider.</li>
				
				<li>When other users view your profile, they will be able to see information about your activities on the Services, such as your username, prior posts and comments and cryptocurrency data, 
				karma, trophies, moderator status, Gold status, and how long you have been a member of the Services.</li>
			</ul>
			Please note that, even when you delete your account, the posts, comments, cryptocurrency data, and messages you submit through the Services may still be viewable or available on our servers. For more information, see "Your Choices" below.
		</div>
		
		<div class="privacyBullet">
			We will not share, sell, or give away any of our users' personal information to third parties, unless one of the following circumstances applies:
			<ul>
				<li> We may share information (and will attempt to provide you with prior notice, to the extent legally permissible) in response to a request for information if we believe disclosure is in accordance with, or required by, any applicable law, regulation, legal process or governmental request; </li>
				<li> We may share information in response to an emergency if we believe it's necessary to prevent imminent and serious bodily harm to a person;</li>
				<li> We may share information if we believe your actions are inconsistent with our user agreements, rules, or other Blockpath policies, or to protect the rights, property, and safety of ourselves and others;</li>
				<li> We may share information between and among Blockpath, and its current and future parents, affiliates, subsidiaries, and other companies under common control and ownership; and </li>
				<li> We may share information with your consent or at your direction.</li>
				<li> We may share aggregated or de-identified information, which cannot reasonably be used to identify you. </li>
			</ul>
		</div>
</div>
<div class="privacySection">
	<h2>Analytics Partners</h2>
	<div class="privacyBullet">
		We may partner with analytics providers to better understand your use of the Services and to improve the Services. 
		These third parties may collect information sent by your computer, browser, or mobile device in response to a request for content, such as unique identifiers, your IP address, or other information about your computer or device.
	</div>
	<div class="privacyBullet">
		We use analytics partners (such as Google Analytics) to help analyze usage and traffic for our Services. As an example, we may use analytics partners to analyze and measure, in the aggregate, the number of unique visitors to our Services.
		For more information about how you may control the collection and/or use of information for advertising and analytics purposes, please see "Your Choices."
	</div>
</div>

<div class="privacySection">
	<h2>Security</h2>
	We take reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration, and destruction.
</div>

<div class="privacySection">
	<h2>Children under 13</h2>
	Blockpath is not intended or directed at individuals under the age of 13. Therefore, individuals under the age of 13 may not create an account or otherwise access or use the Services.
</div>

<div class="privacySection">
	<h2>Outbound Links</h2>
	This web site contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. 
	We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.
</div>

<div class="privacySection">
	<h2>Your Choices</h2>
	As a Blockpath user, you have choices about how to protect and limit the collection, use, and disclosure of, information about you. This includes:
	<div class="privacyBullet">
		<h3>Preferences</h3>
		We may provide you with tools and preference settings that allow you to access, correct, delete, and modify information associated with your account.
	</div>
	<div class="privacyBullet">
		<h3>Account Information</h3>
		You may delete your account information at any time by logging into your account and following the steps under "Preferences."
		When you delete your account, your profile is no longer visible to other users and disassociated from content you posted under that account. 
		Please note, however, that the posts, comments, cryptocurrency data, and messages you submitted prior to deleting your account will still be visible to others, unless you delete such content. 
		We may also retain certain information about you as required by law or for legitimate business purposes after you delete your account.
	</div>
	<div class="privacyBullet">
		<h3>Cookies</h3>
		Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject first- and third-party cookies. 
		Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our Services.
	</div>
	<div class="privacyBullet">
		<h3>Analytics</h3>
		Some analytics providers may provide specific opt-out mechanisms (e.g. Google Analytics Opt-out), and we will provide, as needed, additional tools and third-party services that allow you to better understand cookies and how you can opt-out.
	</div>
	<div class="privacyBullet">
		<h3>Promotional Communications</h3>
		You may opt out of receiving promotional communications from us by following the instructions in those communications. 
		If you opt out, we may still send you non-promotional communications, such as information about your account or your use of our Services.
	</div>
</div>

<div class="privacySection">
	<h2>International Data Transfers</h2>
	We are based in the United States and the information we collect is governed by U.S. law. 
	By accessing or using the Services or otherwise providing information to us, you consent to the processing, transfer and storage of information in and to the U.S. and other countries, 
	where you may not have the same rights as you do under local law.
</div>

<div class="privacySection">
	<h2>Changes to this Policy</h2>
	We may occasionally change this Privacy Policy. If we do, we will let you know by revising the date at the top of the policy. 
	If we make a change to this policy that, in our sole discretion, is important, we will provide you with additional notice (such as adding a statement to the bottom footer portion of the Services, the front page of the Services or sending you a notification). 
	We encourage you to review the Privacy Policy whenever you access or use our Services or otherwise interact with us to stay informed about our information practices and the ways you can help protect your privacy. 
	If you continue to use our Services after Privacy Policy changes go into effect, you consent to the revised policy. 
</div>

<div class="privacySection">
	<h2>How to Contact Us</h2>
	If you have any questions, concerns, or you believe any information we are holding on you is incorrect, please email us at:
	<div id="eAddr2"> </div>
</div>

<script language="JavaScript">
	var host1 = "gm";
	setTimeout(function(){
		var username = "ContactB"+"lockPath";
		var hostname = host1+"ail.c"+"om";
		var c = document.getElementById("eAddr2");
		c.textContent = username + "@" + hostname;
	}, 200);
</script>