## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
###############################################################################
<%!
from r2.lib.template_helpers import static
%>

<div class="privacySection">
	<div style="font-size:25px; font-weight:700;">Blockpath User Agreement </div>
	<div style="font-size: 20px;">Effective:  September 30, 2016</div>
</div>

<div class="privacySection">
	This agreement ("user agreement" or "agreement" or "terms of service") between Blockpath ("Blockpath","we", "our," "us") and you describes your rights and our rights.
	<br>
	This agreement sets the terms of your use of the Blockpath website and services ("Blockpath", the "Services") that includes our blockchain explorer, blockchain analysis tools, and discussion pages.
	<br>
	This agreement is a legal contract between you and us. You acknowledge that you have read, understood, and agree to be bound by the terms of this agreement. 
	If you do not agree to any parts of this agreement, you may not use Blockpath.
</div>

<div class="privacySection">
	<h2> General Legal </h2>
		<div class="privacyBullet">
			<h3> Privacy </h3>
			Refer to our&nbsp;<a href="http://blockpath.com/help/privacypolicy/">Privacy Policy</a>&nbsp;for information on how we collect and use your information.
		</div>
		<div class="privacyBullet">
			<h3> Termination </h3>
			We may stop providing access to all or parts of Blockpath, suspend or terminate your account or membership, and remove any of your user 
			content if you violate the letter or spirit of this statement, create risk for us, or for any other reason we choose.
			<br><br>
			All provisions of the agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, 
			warranty disclaimers, indemnity and limitiations of liability.
		</div>
		<div class="privacyBullet">
			<h3> Governing Law</h3>
			If you have an issue, concern, or problem with Blockpath, you agree to try resolving it informally with us by contacting <div id="eAddr4"> </div>
			<br>
			This agreement and any claims or disputes shall be governed and construed in accordance with the laws of Delaware, USA, without regard to its conflict of law provisions.
		</div>
		<div class="privacyBullet">
			<h3> Indemnity </h3>  
			You understand and agree that your use of the Services shall be at your sole risk.
			You agree to hold Blockpath, its employees, officers, directors, affiliates, agents, and third party service providers not liable from and
			defend them from any claims, costs, losses, damages, expenses, and any other liabilities, including 
			attorneys' fees and costs, arising out of or related to your use or access to Blockpath, your violation of this
			user agreement, and/or your violation of the rights of any third party or person.
		</div>
		<div class="privacyBullet">
			<h3> Warranty Disclaimer </h3> 
			To the fullest extent permitted by law, Blockpath, its employees, officers, directors, affiliates, agents, and third party service providers disclaim
			any and all warranties, express or implied, including, but not limited to, implied warranties of merchantability,
			fitness for a particular purpose, and non-infringement, or any other warranty, guarantee, condition, or representation. 
			<br><br>
			We do not guarantee that Blockpath will remain bug-free, virus-free, or always work properly. You are soley responsible for 
			any damage to your computer or mobile device, loss of data, loss of cryptocurrency, loss of use, or loss of your user content.
		</div>
		<div class="privacyBullet">
			<h3> Limitation of Liability </h3> 
			Blockpath is not liable or responsible for direct, indirect, incidental, special, consequential, punitive, reliance, or exemplary
			damages, where in contract, tort, or any other legal theory, in any way connected with this agreement or your use of or attempted use of the Services,
			whether or not the company is advised of the possibility of such damages, including but not limited to:
			<ul>
				<li> bugs, viruses, trojan horses, or the like which may be transmitted to or through our Services by any third party, </li>
				<li> loss of profits,</li>
				<li> goodwill, </li>
				<li> personal injury, property damage, loss of cryptocurrency, or loss of data, of any nature whatsoever, </li>
				<li> errors, omitted content, mistakes, or inaccuracies of the content, </li>
				<li> any interruption or down-time of transmission from or to our servers, </li>
				<li> any unauthorized use of or access to our servers and/or any and all financial information and/or any and all personal information stored therein,</li>
				<li> any other damages, losses, or actions you take resulting from your use of or in connection with the Services. </li>
			</ul>
			<br>
			You agree to release Blockpath, its employees, officers, directors, affiliates, agents, and third party service providers,
			from claims, actual damages, consequential damages, and/or demands, of every kind and nature, known and unknown,
			disclosed or undisclosed, arising out of or in any way connected with your use of Blockpath.
		</div>
		<div class="privacyBullet">
			<h3> Other </h3> 
			Our failure to enforce any right or provision of this agreement will not be considered a waiver of those rights.
			<br><br>
			If any provision of this agreement is held to be invalid or unenforceable, that provision will be modified to the extent necessary to render it enforceable without losing its intent,
			and the remaining provisions of this agreement will remain in effect.
			<br><br>
			This User Agreement constitutes the entire agreement between us regarding our Services, and supersedes and replaces any prior agreements
			we might have between us regarding the Services.
		</div>
</div>
<div class="privacySection">
	<h2> Your Use of the Services </h2>
	<div class="privacyBullet">
		<h3> Account</h3>
		By creating an Account on Blockpath, you agree that you are soley responsible for actions and information associated with your Account.
		<br>
		You may not transfer, sell, or license your Account without our written permission.
	</div>
	<ul>
		<li> You will not upload viruses or other malicious code. </li>
		<li> You may not use Blockpath to facilitate transactions of illegal goods or services. </li>
		<li> You will not use Blockpath for anything unlawful, malicious, misleading, or discriminatory.</li>
		<li> You will not create, use, or launch an automated system that accesses or attempts to communicate with the Services more often than a human can reasonably perform with a typical web browser.</li>
		<li> We may monitor Blockpath and your use of the Services. </li>
		<li> You may not use Blockpath to break the law, violate an individual's privacy, or infringe any person or entity's copyright, trademark, trade secret, intellectual property or any other proprietary rights. </li>
	</ul>
</div>

<div class="privacySection">
	<h2> Content</h2>
	<div class="privacyBullet">
		<h3> Blockpath Content </h3>
		The Content on the Services, the code, website "look and feel", trademarks, service marks and logos on the Services, are owned by or licensed to Blockpath, subject to copyright and other intellectual property rights under the law.
		You may access Content for your personal use as permitted in this agreement and as intended through the provided functionality of the Services. 
		<br><br>
		You shall not copy, reproduce, transmit, distribute, prepare derivative works, or make unauthorized commerical use of Blockpath content, without the prior
		written consent of Blockpath and/or the respective licensors of the Content. Blockpath and its licensors reserve all rights not expressly granted in and to the Content and the Services.
		<br><br>
		Blockpath makes no warranties or representations about the completeness or accuracy of the Content on the Services, and is not liable for damages, losses, or actions you take resulting from your use of the Services or the Content.
	</div>
	<div class="privacyBullet">
		<h3> Your Content </h3>
		You own all content and information you post to Blockpath ("User Content"). In addition, you understand that by posting the User Content to 
		Blockpath or in connection with Blockpath, you grant us a royalty-free, perpetual, unrestricted, irrevocable, non-exclusive, worldwide license to reproduce, prepare derivative works, 
		distribute copies, perform, or publicly display your User Content in any medium and for any purpose, including commercial purposes, and to authorize others to do so.
		<br><br>
		You agree all User Content you post to Blockpath or in connection with Blockpath does not break the law, violate an individual's privacy, or infringe any person or entity's copyright, trademark, trade secret, intellectual property or any other proprietary rights.
		<br><br>
		User Content on Blockpath is provided to you AS IS. You understand Blockpath does not endorse and takes no responsibility for any User Content submitted to the Services by any user, including but not limited to, any advice, opinions, statements or recommendations.
	</div>
	<div class="privacyBullet">
		<h3> Blockchain Content </h3>
		Blockchains are a technology that may contain code, information, and data from anyone or anything (human, software, or computer-like). You understand that Blockpath does not endorse, make warranty to, or assume responsibility for any blockchain content, and is not liable for any damages, losses, or actions you take arising from
		the content from blockchains.
	</div>
	<div class="privacyBullet">
		<h3> Outbound Links </h3>
		Blockpath may contains links to third-party websites or services that are not owned or controlled by Blockpath.
		<br>
		We are not responsible for the content or actions of any third party websites or services associated with posted third-party hyperlinks on Blockpath. 
		You further agree that Blockpath shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use
		of or reliance on any such content, goods or services from any such third-party websites.
		<br>
		You agree to take sole legal responsibility for any links you post, and neither this agreement nor our privacy policy applies to any content on other websites related to those links. 
		You should consult the terms and privacy policies of those other websites to understand your rights.
	</div>
</div>
<div class="privacySection">
	<h2> DMCA</h2>
	Submit properly formatted DMCA concerns to  <div id="eAddr3"> </div>
	<br>
	We retain the right to remove User Content that is deemed to be infringing on the copyright of others.
</div>
<div class="privacySection">
	<h2> Changes</h2>
	We reserve the right, at our sole discretion, to modify or replace this user agreement at any time. 
	If a revision is material we will provide advance notice prior to the new terms taking effect. What constitutes a material change
	will be determined at our sole discretion.
	<br><br>
	By continuing to access or use the Services after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you may not use the Services.
	<br><br><br>
</div>

<script language="JavaScript">
	var host1 = "gm";
	setTimeout(function(){
		var username = "ContactB"+"lockPath";
		var hostname = host1+"ail.c"+"om";
		var c = document.getElementById("eAddr3");
		var d = document.getElementById("eAddr4");
		c.textContent = username + "@" + hostname;
		d.textContent = username + "@" + hostname;
	}, 206);
</script>

