## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
   from pylons import request
   from r2.config import feature
   from r2.lib.template_helpers import (
       add_sr,
       display_link_karma,
       format_number,
       header_url,
   )
   from r2.models import FakeSubreddit
   from r2.models.subreddit import DefaultSR
   from r2.lib.pages import SearchForm
%>
<%namespace file="utils.html" import="plain_link, img_link, text_with_links, separator, logout"/>

${thing.srtopbar}
<div id="header" role="banner">
  <a tabindex="1" href="#content" id="jumpToContent">${_('jump to content')}</a>

  <div id="header-bottom-left">
    <div id="menuAndHeaderImg">
        <%
            header_title = c.site.header_title
            d = thing.default_theme_sr

            if c.site.header and c.can_apply_styles and c.allow_styles and not (thing.no_sr_styles or c.site.quarantine):
                header_img = c.site.header
                header_size = c.site.header_size
            else:
                header_img = d.header
                header_size = d.header_size
                header_title = d.header_title
        %>
        
        <button class="menu-button" id="open-button"></button>
        
        %if header_img != g.default_header_url:
            ${img_link(c.site.name, header_url(header_img),
                '/', _id="header-img-a", img_id='header-img',
                title=header_title, size=header_size)}
        %else:
            <a href="/" id="header-img" class="default-header" title="${header_title}">${g.domain}</a>
        %endif
    </div>
    ##keeps the height of the header from varying when there isnt any content
    &nbsp;
    %for toolbar in thing.toolbars:
      ${toolbar}
    %endfor
  </div>

  <div id="header-bottom-right">
    %if not c.user_is_loggedin:
        %if thing.enable_login_cover and not g.read_only_mode:
            <%
                base = g.https_endpoint
                login_url = add_sr(base + "/login", sr_path=False)
            %>
            <span id="loggedOutUserBigScreen" class="user">
                ${plain_link("Sign Up or Login", login_url, _sr_path=False, _class='login-required btn btn-primary')}
            </span>
            <span id="loggedOutUserSmallScreen" class="user" style="display:none;">
                <svg id="userDropSVG" class="dropdown-toggle" style="display: none" type="button" data-toggle="dropdown" width="32" height="32" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 22c-3.123 0-5.914-1.441-7.749-3.69.259-.588.783-.995 1.867-1.246 2.244-.518 4.459-.981 3.393-2.945-3.155-5.82-.899-9.119 2.489-9.119 3.322 0 5.634 3.177 2.489 9.119-1.035 1.952 1.1 2.416 3.393 2.945 1.082.25 1.61.655 1.871 1.241-1.836 2.253-4.628 3.695-7.753 3.695z"/></svg>
                <ul id="user-menu" class="dropdown-menu ">
                    <li>
                        ${text_with_links("%(login_or_register)s", login_or_register = dict(link_text=_("Log in or sign up"), path=login_url, _class="login-required"))}
                    </li>
                </ul>
            </span>
        %endif
    %else:
        %if feature.is_enabled('beta_opt_in') and c.user.pref_beta:
            <div class="beta-hint help help-hoverable">
              <a class="beta-link" href="/r/${g.beta_sr}">beta</a>
              <div id="beta-help" class="hover-bubble help-bubble anchor-top">
                <div class="help-section">
                  <p>${_("You're in beta mode! Thanks for helping to test reddit.")}</p>
                  <p>
                  ${text_with_links(_("Please give feedback at %(beta_link)s, or %(learn_more_link)s."),
                      beta_link = dict(link_text="/r/" + g.beta_sr, path="/r/" + g.beta_sr),
                      learn_more_link = dict(link_text=_("learn more on the wiki"), path="/r/" + g.beta_sr + "/wiki")
                    )}
                  </p>
                </div>
              </div>
            </div>
        %endif
        <span class="user">
            <div class="dropdown">
              <button id="userDropButton" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                  ${c.user.name} &nbsp;
                  
                  ##hiding karma numbers for now
                  ##&nbsp;(<span class="userkarma" title="${_("link karma")}">${format_number(display_link_karma(c.user.link_karma))}</span>)
                  
                  %if c.user.inbox_count > 0:
                    (<span> ${ format_number(c.user.inbox_count) } </span>)
                  %endif
                  <span class="caret"></span>
              </button>
              <svg id="userDropSVG" class="dropdown-toggle" style="display: none" type="button" data-toggle="dropdown" width="32" height="32" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 22c-3.123 0-5.914-1.441-7.749-3.69.259-.588.783-.995 1.867-1.246 2.244-.518 4.459-.981 3.393-2.945-3.155-5.82-.899-9.119 2.489-9.119 3.322 0 5.634 3.177 2.489 9.119-1.035 1.952 1.1 2.416 3.393 2.945 1.082.25 1.61.655 1.871 1.241-1.836 2.253-4.628 3.695-7.753 3.695z"/></svg>

              <ul id="user-menu" class="dropdown-menu ">
                %if c.user.name in g.admins:
                    <li>
                        %if c.user_is_admin:
                            ${plain_link("Turn Admin Off", "%s/adminoff?dest=%s" % (g.https_endpoint, request.fullpath), _sr_path=False)}
                        %else:
                            ${plain_link("Turn Admin On", "%s/adminon?dest=%s" % (g.https_endpoint, request.fullpath), _sr_path=False)}
                        %endif
                    </li>
                %endif
                <li>
                    <!-- Blockpath removed the mail images below in CSS-->
                    %if c.have_messages:
                        ${plain_link("Messages", path="/message/unread/", title=_("new mail!"), _class="havemail", _sr_path=False, _id="mail")}
                        %if c.user.inbox_count > 0:
                            ${plain_link(c.user.inbox_count, path="/message/unread/", _class="message-count", _sr_path=False)}
                        %endif
                    %else:
                        ${plain_link("Messages", path="/message/inbox/", title=_("no new mail"), _class="nohavemail", _sr_path=False, _id="mail")} 
                    %endif
                </li>
                  
                %if c.user.is_moderator_somewhere:
                    <li>
                        <%
                            if c.have_mod_messages:
                              mail_img_class = 'havemail'
                              mail_img_title = "new mod mail!"
                              mail_path = "/message/moderator/"
                            else:
                              mail_img_class = 'nohavemail'
                              mail_img_title = "no new mod mail"
                              mail_path = "/message/moderator/"
                    
                            css_class = "%s access-required" % mail_img_class
                            data_attrs = {'event-action': 'pageview', 'event-detail': 'modmail'}
                        %>
                        ${plain_link("Mod Messages", path=mail_path,
                            title = mail_img_title, _sr_path = False,
                            _id = "modmail", _class=css_class, data=data_attrs)}
                    </li>
                %endif
                
                <li>${plain_link("Profile", "/user/%s/" % c.user.name, _sr_path=False)}</li>
                <li>${plain_link("Following", "/r/friends/", _sr_path=False)}</li>
                <li>${plain_link("Account Activity", "/account-activity", _sr_path=False)}</li>
                <li>${plain_link("Preferences", "/prefs/", _sr_path=False)}</li>
                <!-- Upgrade option temp disabled.-->
                %if False and not c.user.gold:
                    <li>
                        <a onclick="openPaymentContainer();">
                            Upgrade
                        </a>
                    </li>
                %endif
                %if g.auth_provider.is_logout_allowed():
                    <li>
                        ${logout(dest=request.fullpath)}
                    </li>
                %endif
              </ul>
            </div>
        </span>
    %endif
    
    
  </div>
</div>

<div id="headerSpacer">

</div>
